@import 'bootstrap/scss/functions';
@import 'variables';
@import 'variables-dark';
@import 'bootstrap/scss/bootstrap';
@import 'custom_utils';
@import 'socialSwiper';

.fw-black {
  font-weight: 900;
}
