$primary-color: #17312C;


.stockBox {
  max-width: 1920px;
  min-height: 825px;
  margin: 0 auto;
  flex-direction: column;
  display: inline;
}



.stockEngtitle{
  font-size: 80px !important;
  font-weight: 900 !important;
  font-family: 'Noto Sans', sans-serif;
  color: $primary-color;


}

.stockCard{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between; /* 左右拉開 */
  align-items: center;            /* 左右垂直置中 */
  max-width: 636px !important;
  width: 100%;
  height: 173px !important;
  padding:16px;
}

.stockRight {
  display: flex;              /* 開啟 Flex */
  flex-direction: column;     /* 內部上下排列 */
  align-items: flex-end;      /* 靠右對齊 */
  justify-content: center;    /* 垂直置中，如果父容器高 > 內容 */
  gap: 4px;                   /* 上下間距 */
  color : red;
}

.stockLeft {
  flex-direction: row;  /* 上下排列 */
  gap: 10px;               /* 上下間距 */
}

.stockSymbol {
  color: #888;
  background: #f5f5f5;


}

.stockName {
  margin-right: 1px; /* 往左偏移 */
}

.stockIcon{
  background-color: rgba(255, 0, 0, 0.1);
  width: 48px;
  height: 48px;
  display: flex;             /* 開啟 Flex */
  justify-content: center;   /* 水平置中 */
  align-items: center;       /* 垂直置中 */

  border-radius: 8px;        /* 可選：圓角 */
}

.stockPage1{
  background-color: black;
  color: #FFFFFF;
  display: flex;
  width: 40px;
  height: 40px; 
}

.stockPage{
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  width: 40px;
  height: 40px; 
  border: solid 1px #12121227;
}